@font-face {
	font-family: 'Dinot';
	src: url('@/assets/fonts/DINOT-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Alegreya';
	src: url('@/assets/fonts/AlegreyaSC-Bold.woff') format('woff');
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
	background: radial-gradient(circle, #5ea87e86 0%, #4c8a6882 100%);
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Dinot', sans-serif;
}
