@font-face {
	font-family: 'Dinot';
	src: url('/public/fonts/DINOT-Regular.woff2') format('woff2');
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Dinot', sans-serif;
}
